body{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: #fff;
}

a.logo {
    font-size: 24px;
    color: #000;
    float: left;
    text-transform: uppercase;
}

a.logo b {
    font-weight: 900;
}

a.logo:hover, a.logo:focus {
    text-decoration: none;
    outline: none;
}

a.logo span {
    color: #4e73df;
}